{% extends "terminimal/templates/index.html" %}

{%- block extra_head -%}
<link rel="stylesheet" href="{{ get_url(path="overrides.css", trailing_slash=false) | safe }}">
{%- endblock -%}

{% block title %}
  {% if term %}
    {% set title_prefix = term.name %}
  {% elif taxonomy %}
    {% set title_prefix = taxonomy.name %}
  {% elif section %}
    {% set title_prefix = section.title %}
  {% elif page %}
    {% set title_prefix = page.title %}
  {% endif %}

  {%- if title_prefix %}
      {{ title_prefix }} |
  {% endif -%}
  {{ config.title }}
{% endblock title %}

{% block logo_content %}
{{- config.base_url | trim_start_matches(pat="https://") | trim_start_matches(pat="http://") -}}
{% endblock %}

{% block content %}
    <div class="posts">
      {%- set max_recent = section.extra.max_recent %}
      {%- set blog = get_section(path="blog/_index.md") %}
      {%- set blog_pages = blog.pages %}
      {%- for page in blog_pages | slice(end = max_recent) %}
        <div class="post on-list">
          {{ post_macros::header(page=page) }}
          {{ post_macros::content(page=page, summary=true) }}
        </div>
      {% endfor -%}
      <div class="pagination">
        <div class="pagination__buttons">
          {%- if blog_pages | length > max_recent %}
            <span class="button more">
              <a href="{{ get_url(path="/blog") | safe }}">
                <span class="button__text">more posts</span>
              </a>
            </span>
          {%- endif %}
        </div>
      </div>
    </div>
{% endblock content %}

{% block footer %}
  <footer class="footer">
    <div class="footer__inner">
      <div class="copyright">
        <span>© {{ date_macros::now_year() }} {{ config.extra.author }}</span>

        <span class="copyright-theme">
          <span class="copyright-theme-sep">:: </span>
          Theme based on <a href="https://github.com/pawroman/zola-theme-terminimal/">Terminimal</a> by pawroman
        </span>
      </div>
    </div>
  </footer>
{% endblock footer %}
